# Dataset 통합
## Target:
- bbc: https://www.kaggle.com/datasets/hgultekin/bbcnewsarchive?select=bbc-news-data.csv
- cnn: https://www.kaggle.com/datasets/hadasu92/cnn-articles-after-basic-cleaning
- space news: https://www.kaggle.com/datasets/patrickfleith/space-news-dataset
- us-financial news: https://www.kaggle.com/datasets/jeet2016/us-financial-news-articles
- sci-kit learn newspapaer set

## data scale:
- bbc: 100%
- cnn: 100%
- space news: 50%
- us-financial: 5%

In [1]:
import pandas as pd
import pickle
import json
import os
from tqdm import tqdm
from urllib import parse

In [2]:
os.getcwd()

'd:\\yjy\\workspace\\project2_clustering\\code'

In [18]:
new_columns = ['title', 'context']
new_order = ['dataSource', 'title', 'context']

## 1. BBC

In [11]:
bbc_df = pd.read_csv('./../data_/bbc/bbc-news-data.csv', sep='\t')

In [12]:
bbc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  2225 non-null   object
 1   filename  2225 non-null   object
 2   title     2225 non-null   object
 3   content   2225 non-null   object
dtypes: object(4)
memory usage: 69.7+ KB

In [13]:
bbc_df = bbc_df[['title', 'content']]

In [21]:
bbc_df

,dataSource,title,context
0,BBC,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarne...
1,BBC,Dollar gains on Greenspan speech,The dollar has hit its highest level against ...
2,BBC,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuk...
3,BBC,High fuel prices hit BA's profits,British Airways has blamed high fuel prices f...
4,BBC,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Dome...
...,...,...,...
2219,BBC,New consoles promise big problems,Making games for future consoles will require...
2220,BBC,BT program to beat dialler scams,BT is introducing two initiatives to help bea...
2222,BBC,Be careful how you code,A new European directive could put software w...
2223,BBC,US cyber security chief resigns,The man making sure US computer networks are ...
2224,BBC,Losing yourself in online gaming,"Online role playing games are time-consuming,..."

In [15]:
bbc_df.drop_duplicates(inplace=True)
bbc_df.columns = new_columns

In [16]:
bbc_df['dataSource'] = 'BBC'
bbc_df = bbc_df[new_order]

In [22]:
with open('./../data_/result_/bbc.pkl', 'wb') as f:
    pickle.dump(bbc_df, f)

## 2. CNN

In [23]:
cnn_df1 = pd.read_csv('./../data_/cnn/CNN1.csv')
cnn_df2 = pd.read_csv('./../data_/cnn/CNN2.csv')

In [24]:
cnn_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4076 entries, 0 to 4075
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Index            4076 non-null   int64
 1   Author           4076 non-null   object
 2   Date published   4076 non-null   object
 3   Category         4076 non-null   object
 4   Section          4076 non-null   object
 5   Url              4076 non-null   object
 6   Headline         4076 non-null   object
 7   Description      4076 non-null   object
 8   Keywords         4076 non-null   object
 9   Second headline  4076 non-null   object
 10  Article text     4076 non-null   object
dtypes: int64(1), object(10)
memory usage: 350.4+ KB

In [25]:
cnn_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37949 entries, 0 to 37948
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Index            37949 non-null  int64
 1   Author           37949 non-null  object
 2   Date published   37949 non-null  object
 3   Category         37949 non-null  object
 4   Section          37949 non-null  object
 5   Url              37949 non-null  object
 6   Headline         37949 non-null  object
 7   Description      37949 non-null  object
 8   Keywords         37949 non-null  object
 9   Second headline  37949 non-null  object
 10  Article text     37940 non-null  object
dtypes: int64(1), object(10)
memory usage: 3.2+ MB

In [28]:
cnn_df1 = cnn_df1[['Headline', 'Article text']]
cnn_df2 = cnn_df2[['Headline', 'Article text']]
cnn_df = pd.concat([cnn_df1, cnn_df2])
cnn_df.drop_duplicates(inplace=True)
cnn_df.columns = new_columns

In [29]:
cnn_df['dataSource'] = 'CNN'
cnn_df = cnn_df[new_order]

In [30]:
cnn_df

,dataSource,title,context
0,CNN,"There's a shortage of truckers, but TuSimple t...","(CNN)Right now, there's a shortage of truck d..."
1,CNN,Bioservo's robotic 'Ironhand' could protect fa...,(CNN)Working in a factory or warehouse can me...
2,CNN,This swarm of robots gets smarter the more it ...,"(CNN)In a Hong Kong warehouse, a swarm of aut..."
3,CNN,Russia is no longer an option for investors. T...,"New York (CNN Business)For many years, the wor..."
4,CNN,Russian energy investment ban part of new EU s...,The European Union formally approved on Tuesda...
...,...,...,...
37944,CNN,Russian President Vladimir Putin is being stri...,(CNN)Russian President Vladimir Putin has bee...
37945,CNN,"On NATO's doorstep, a former tourist hotspot i...","Lviv, Ukraine (CNN)A long line of men snakes o..."
37946,CNN,MLB is postponing Opening Day after owners and...,(CNN)Major League Baseball (MLB) is postponin...
37947,CNN,Mikhail Gorbachev Fast Facts - CNN,Here's a look at the life of Mikhail Gorbachev...
37948,CNN,Duchess Camilla Fast Facts - CNN,(CNN)Here's a look at the life of Her Royal H...

In [31]:
with open('./../data_/result_/cnn.pkl', 'wb') as f:
    pickle.dump(cnn_df, f)

## 3. space_news

In [32]:
space_news_df = pd.read_csv('./../data_/space_news/spacenews-202309.csv')

In [33]:
space_news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19584 entries, 0 to 19583
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        19584 non-null  object
 1   url          19584 non-null  object
 2   content      19419 non-null  object
 3   author       19584 non-null  object
 4   date         19584 non-null  object
 5   postexcerpt  18217 non-null  object
dtypes: object(6)
memory usage: 918.1+ KB

In [34]:
space_news_df = space_news_df[['title', 'content']]

In [35]:
space_news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19584 entries, 0 to 19583
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    19584 non-null  object
 1   content  19419 non-null  object
dtypes: object(2)
memory usage: 306.1+ KB

In [36]:
space_news_df.drop_duplicates(inplace=True)
space_news_df.columns = new_columns

In [37]:
space_news_df['dataSource'] = 'spaceNews'
space_news_df = space_news_df[new_order]

In [38]:
space_news_df

,dataSource,title,context
0,spaceNews,HawkEye 360 reaches inflection point on path t...,PARIS — With a recent funding round and growin...
1,spaceNews,SES Q&A | Leveling up multi-orbit connectivity,Multi-orbit satellite operator SES is on the v...
2,spaceNews,Rapid Starlink iteration poses challenges for ...,"TAMPA, Fla. — SpaceX’s ability to quickly chan..."
3,spaceNews,Space Force to release guidelines for the use ...,WASHINGTON — U.S. Chief of Space Operations Ge...
4,spaceNews,ULA has ‘no issues’ with Space Force plan to s...,"WASHINGTON — United Launch Alliance, one of ju..."
...,...,...,...
19579,spaceNews,Kendall lays out Pentagon thinking on future s...,"\nFrank Kendall, the Pentagon’s top acquisitio..."
19580,spaceNews,A larger share of NOAA’s declining space budge...,Updated Feb. 10 at 10:18 p.m. Eastern The U.S....
19581,spaceNews,Think Tank Turns Its Attention To Mars As 2016...,WASHINGTON — As NASA develops a long-term stra...
19582,spaceNews,House Bill Leaves Last Three JPSS Satellites i...,WASHINGTON — A spending bill the House passed ...
19583,spaceNews,Championing a Climate Change for Commercial We...,U.S. Rep. Jim Bridenstine (R-Okla.) is a growi...

In [39]:
with open('./../data_/result_/space_news.pkl', 'wb') as f:
    pickle.dump(space_news_df, f)

## 4. US Financial

In [68]:
us_financial_path = './../data_/us_financial'

target_dir = [f for f in os.listdir(us_financial_path) if os.path.isdir(os.path.join(us_financial_path, f))]

In [69]:
target_dir

['2018_01_112b52537b67659ad3609a234388c50a',
 '2018_02_112b52537b67659ad3609a234388c50a',
 '2018_03_112b52537b67659ad3609a234388c50a',
 '2018_04_112b52537b67659ad3609a234388c50a',
 '2018_05_112b52537b67659ad3609a234388c50a']

In [107]:
def load_josn_data(file_path, files_name):
    path = os.path.join(file_path, files_name)
    with open(path, 'r', encoding='utf-8') as f:
        data = json.load(f)
    
    return data['title'], data['text']

In [108]:
def get_us_financial_df(file_path, file_names):
    columns_set = ['dataSource', 'title', 'context']
    temp_df = pd.DataFrame(columns = columns_set)

    for file in tqdm(file_names):
        title, context = load_josn_data(file_path, file)
        temp_data_df = pd.DataFrame([{'dataSource': 'us-financial', 'title': title, 'context': context}])
        temp_df = pd.concat([temp_df, temp_data_df])
    
    return temp_df

In [111]:
for i, dir in enumerate(target_dir):
    file_path = os.path.join(us_financial_path, dir)
    target_files = [f for f in os.listdir(file_path) if os.path.isfile(os.path.join(file_path, f))]

    tmp_df = get_us_financial_df(file_path, target_files)
    tmp_df.drop_duplicates(inplace=True)
    
    with open(f'./../data_/result_/us_financial_{i}.pkl', 'wb') as f:
        pickle.dump(get_us_financial_df(file_path, target_files), f)

100%|██████████| 57802/57802 [13:11<00:00, 73.00it/s]
100%|██████████| 57802/57802 [02:40<00:00, 360.28it/s]
100%|██████████| 64592/64592 [22:39<00:00, 47.51it/s]
100%|██████████| 64592/64592 [06:35<00:00, 163.49it/s]
100%|██████████| 57456/57456 [21:24<00:00, 44.74it/s]
100%|██████████| 57456/57456 [02:45<00:00, 346.60it/s]
100%|██████████| 63245/63245 [13:36<00:00, 77.45it/s]
100%|██████████| 63245/63245 [06:18<00:00, 167.10it/s]
100%|██████████| 63147/63147 [13:50<00:00, 76.04it/s]
100%|██████████| 63147/63147 [02:59<00:00, 352.02it/s]

## 5. data file to DB

In [65]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float, BigInteger, DateTime, Date, Text, CHAR, String
from sqlalchemy.dialects.mysql import LONGTEXT
import sqlalchemy
from urllib import parse

user = 'team5'
password = 'encore5@#'
host= '43.202.5.70'
port = 3306
database = '2nd_db5'
password = parse.quote_plus(password)
engine = sqlalchemy.create_engine(f"mysql://{user}:{password}@{host}:{port}/{database}")

In [40]:
result_path = './../data_/result_'
pkl_files = [f for f in os.listdir(result_path) if os.path.isfile(os.path.join(result_path, f))]

In [41]:
pkl_files

['bbc.pkl',
 'cnn.pkl',
 'space_news.pkl',
 'us_financial_0.pkl',
 'us_financial_1.pkl',
 'us_financial_2.pkl',
 'us_financial_3.pkl',
 'us_financial_4.pkl']

In [42]:
pkl_list = [os.path.join(result_path, pkl_name) for pkl_name in pkl_files]

In [43]:
pkl_list

['./../data_/result_\\bbc.pkl',
 './../data_/result_\\cnn.pkl',
 './../data_/result_\\space_news.pkl',
 './../data_/result_\\us_financial_0.pkl',
 './../data_/result_\\us_financial_1.pkl',
 './../data_/result_\\us_financial_2.pkl',
 './../data_/result_\\us_financial_3.pkl',
 './../data_/result_\\us_financial_4.pkl']

In [66]:
metadata = MetaData()
Table('english_news_lake', metadata, 
      Column('dataSource', String(20)),
      Column('title', String(255)),
      Column('context', LONGTEXT)
      )

metadata.create_all(engine)

In [56]:
df_set = []
for pkl_path in pkl_list[:3]:
    with open(pkl_path, 'rb') as f:
        df_set.append(pickle.load(f))

total_news_df = pd.concat(df_set)

In [67]:
total_news_df.to_sql("english_news_lake",  if_exists='append', con=engine, index=False)

59686

In [68]:
total_news_df

,dataSource,title,context
0,BBC,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarne...
1,BBC,Dollar gains on Greenspan speech,The dollar has hit its highest level against ...
2,BBC,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuk...
3,BBC,High fuel prices hit BA's profits,British Airways has blamed high fuel prices f...
4,BBC,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Dome...
...,...,...,...
19579,spaceNews,Kendall lays out Pentagon thinking on future s...,"\nFrank Kendall, the Pentagon’s top acquisitio..."
19580,spaceNews,A larger share of NOAA’s declining space budge...,Updated Feb. 10 at 10:18 p.m. Eastern The U.S....
19581,spaceNews,Think Tank Turns Its Attention To Mars As 2016...,WASHINGTON — As NASA develops a long-term stra...
19582,spaceNews,House Bill Leaves Last Three JPSS Satellites i...,WASHINGTON — A spending bill the House passed ...
19583,spaceNews,Championing a Climate Change for Commercial We...,U.S. Rep. Jim Bridenstine (R-Okla.) is a growi...

In [71]:
engine.dispose()